section.page-header-wrapper
	.header-title-wrapper
		a(href='/')
			img.main-logo(src='/i/vnv_logo.png')
		.user-header-wrapper
			.user-quick-menu
				p.breadcrumbs Отакої >> Вихід >>
			.user-menu
				a.main-login-trigger Вхід на сайт&nbsp;&nbsp;
				span або&nbsp;&nbsp;
				a.register-trigger Регістрація&nbsp;
				span.soc-title Вхід через:
				a.soc-login-facebook
				a.soc-login-vk
	.main-search-wrapper
		.search-form
			form.form-inline(role="form", main-search)
				input.search-input.form-control(type="text", placeholder='Пошук ...')
				.categories-choice-trigger(unselectable='on') Всі категорії
				.categories-choice.ng-cloak
					ul.s-categories
						li.s-category(ng-click='categorySelected($event)') Всі категорії
						li.s-category(ng-repeat='categorie in categories', ng-click='categorySelected($event)') {{ categorie }}
				button.btn.btn-default.search-trigger
					span.search-label Пошук
				.clearfix
		.filters-form
			form.form-inline(role="form")
				span.header-text Показати лише:
				.checkbox
					label.filter-checkbox.header-text
						input(type="checkbox")
						&nbsp;Безкоштовні пропозиції
				.checkbox
					label.filter-checkbox.header-text
						input(type="checkbox")
						&nbsp;Поблизу дому
.clr