section.login-user.container
	- if (locals.hasToBeLoggedIn)
		input#has-to-be-logged-in(type='hidden', value="yes")
	- if (locals.uid)
		input#cuid(type='hidden', value="#{uid}")
	script#login-head(type = "text/template")
		<a id="login-trigger" href="#loginForm" role="button" data-toggle="modal">Login/Register</a>
	script#logout-head(type = "text/template")
		<span class="user-name"><%= name %></span>
		<a id="logout-trigger" href="javascript:void(0);">Logout</a>
	.row	
		section.social-buttons.pull-right
			a.btn.btn-link.fb-soc(href='/auth/facebook'): img(src='/i/fb_icon.png', alt='f')
			a.btn.btn-link.vk-soc(href='/auth/vkontakte'): img(src='/i/vk_icon.png', alt='VK')
		section#lgi-lgo.pull-right
		#loginForm.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='obminLoginFormLable', aria-hidden='true', data-show='false')
			include widgets/LoginFormModal
		- if (flash.info)
			p= flash.info
	.navbar
		.navbar-inner
			.container
				a.brand(href='/') Vse na Vse
				form.navbar-search.pull-left
					input#search-field.search-query.span3(type='text', placeholder='Я хочу')
				ul.nav
					li.span2
						p.navbar-text &nbsp;шукати в:&nbsp;
					li.dropdown
						a.dropdown-toggle#categoryd(role='button', data-toggle='dropdown', data-target='#', href='#') Категорія
							b.caret
						ul.dropdown-menu(role='menu',aria-labelledby='categoryd')
							- for cat in categories
								li: a(href='/categories/#{cat._id}')= cat.name
					li.span3
						a.pull-right(href='/search') &nbsp;&nbsp;[Розширений пошук]