.page
	b #{title}, #{appName} v.#{version}
	br
	br
	a.button(href='/login') Login/Logout
	p
	a.button(href='/users/new') Register
	p
	b Users
	ul
		label Using "/users.:format?"
		li: a(href='/users.json') All users json (later need to add filter)
		li: a(href='/users') All users (later need to add filter)
	script function userByIdJSON() { location.href = '/users/'+ document.getElementById('user_id').value + ".json"}
	script function userById() { location.href = '/users/'+ document.getElementById('user_id').value}
	input(type='text', id='user_id', size='90')
	button(onClick= 'userByIdJSON()') show user by ID	(JSON)
	button(onClick= 'userById()') show user by ID (user.jade)
	br	
	br	
	b Items	
	ul	
		li: a(href='/items.json') all items json
		li: a(href='/items/new') new item
		script function itemById() { location.href = '/items/'+ document.getElementById('item_id').value }
		input(type='text', id='item_id', size='90')
		button(onClick= 'itemById()') show item by id
	b Categories	
	ul	
		li: a(href='/categories.json') all categories json
		li: a(href='/categories/new') new category
		script function categoryById() { location.href = '/categories/'+ document.getElementById('category_id').value }
		input(type='text', id='category_id', size='90')
		button(onClick= 'categoryById()') show category by ID
	b Others	
		li: a(href='/about') about us
	