extends layout

block content
	.home-page 
		.left-column
			.main-categories-wrapper
				.main-categories-menu
					ul.all-categories
						li.all-category.first
							a.ac-link.cat-books(href='javascript:;') Книги
						li.all-category
							a.ac-link.cat-pcs(href='javascript:;') Комп`ютери
						li.all-category
							a.ac-link.cat-phones(href='javascript:;') Телефони, смартфони
						li.all-category
							a.ac-link.cat-technics(href='javascript:;') Техніка, електроніка
						li.all-category
							a.ac-link.cat-fasion(href='javascript:;') Мода, краса
						li.all-category
							a.ac-link.cat-cds(href='javascript:;') Диски
						li.all-category
							a.ac-link.cat-home(href='javascript:;') Все для дому
						li.all-category
							a.ac-link.cat-kids(href='javascript:;') Для дітей
						li.all-category
							a.ac-link.cat-rest(href='javascript:;') Дозвілля, відпочинок
						li.all-category
							a.ac-link.cat-collect(href='javascript:;') Колекціонування
						li.all-category
							a.ac-link.cat-avto(href='javascript:;') Авто, мото
						li.all-category.last
							a.ac-link.cat-other(href='javascript:;') Різне
			h5.adv-header Реклама:
			.adv-wrapper
				img.adv(src='/i/adv_demo.jpg')
			h3.soc-header Ми у соціальних мережах:
			a.vnv-f(href='javascript:;') Facebook
			a.vnv-vk(href='javascript:;') ВКонтакте
		.main-content(ng-controller='indexCtrl')
			.lot-wrapper.ng-cloak(ng-repeat='lot in lots', ng-class='{forth: !(($index+1)%4) && !$first }')
				a.lot-image-link(href='javascript:;', ng-class='{closehome: lot.closeHome, gift: lot.gift}')
					img.lot-image(src='{{ lot.img }}')
				a.lot-link(href='javascript:;') {{ lot.title }}
			.clearfix
			.lots-finish
			h3.latest-exchanges-header Останні успішні обміни:
			.exchange-wrapper.ng-cloak(ng-repeat='exchange in exchanges', ng-class='{third: !(($index+1)%3) && !$first }')
				.lot1-wrapper
					a.ex-lot-image-link
						img.ex-lot-image(src='{{ exchange.lot1.img }}')
					a.ex-lot-link(href='javascript:;') {{ exchange.lot1.title }}
				.lot2-wrapper
					a.ex-lot-image-link
						img.ex-lot-image(src='{{ exchange.lot2.img }}')
					a.ex-lot-link(href='javascript:;') {{ exchange.lot2.title }}
		.clearfix
