.page

h2 Register (redirect to HTML)
p
	form(method='post', action='/users')
		.item
			label Name(required):
			input( name='user[name]', value='', type='text' )
		.item
			label Email(required):
			input(name='user[email]', value= '')
		.item
			label Password(required):
			input(name='user[password]', value= '', type='password')
		.item
			label location:
			input( name='user[location]', value= '', type='text' )
		.item
		button( type='submit') Register
h3 Register (POST with json)		
p
	form(method='post', action='/users.json')
		.item
			label Name(required):
			input( name='user[name]', value= '', type='text' )
		.item
			label Email(required):
			input(name='user[email]', value= '')
		.item
			label Password(required):
			input(name='user[password]', value= '', type='password')
		.item
			label location:
			input( name='user[location]', value= '', type='text' )
		.item
			button( type='submit') Register		
			

