.page
a.button(href='/dev') Development tools	
h2 Add Item (JSON)
p
	form(method='post', action='/items.json')
		.item
		label name:
		input( name='item[name]', value='', type='text' )
		.item
		label description:
		input( name='item[description]', value='', type='text' )
		.item
		label category_id:
		input( name='item[category_id]', value='', type='text' )
		
		.Item
		Label Current user: #{currentUser}
		.item
		button( type='submit') Add
		
		