form(action="/items/50b53cea9e06216217000002/picture", method="POST", enctype="multipart/form-data")
	input(type='file', name='picture')
	button(type='submit') Upload item`s image (HONDA Accord)
form(action="/users/50b3d9d82bdf12cb0900000c/picture", method="POST", enctype="multipart/form-data")
	input(type='file', name='picture')
	button(type='submit') Upload user`s image (123)